@use "variables" as *;
@use "typography" as *;

//media queries
@mixin mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

//typography mixins
@mixin font-pageheader {
  font-family: $font-local;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  @include tablet {
    font-weight: 700;
    font-size: 2.063rem;
    line-height: 2.75rem;
  }
}

@mixin font-sectionheader {
  font-family: $font-local;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

@mixin font-subheader {
  font-family: $font-local;
  font-weight: 700;
  font-size: 0.813rem;
  line-height: 1.125rem;
  @include tablet {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin font-bodycopy {
  font-family: $font-local;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.125rem;
  @include tablet {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
}

@mixin font-labelsbuttons {
  font-family: $font-local;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: $secondary-text-color;
  @include tablet {
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

//iconography mixins
@mixin button-default {
    @include font-labelsbuttons;
    @include mobile {
      max-height: 2.5rem;
      border-radius: 0.25rem;
      background: $primary-call-to-action;
      color: $white;
      @include tablet {
        width: 9.375rem;
      }
    }
  }
  
  @mixin button-hover {
    @include font-labelsbuttons;
    @include mobile {
      height: 2.5rem;
      radius: 0.25rem;
      background: $event-hover-state;
      color: $white;
      @include tablet {
        width: 9.375rem;
      }
    }
  }
//32px of padding may be added for tablet/desktop buttons  

@mixin logo {
    height: 1.563rem;
    width: 7.5rem;
    background: $white;
  }

  @mixin icon {
    fill: $secondary-text-color;
  }

  //formfield mixin
  
  @mixin form-field {
    @include mobile {
        height: 2rem;
        border-radius: 0.25rem;
        // padding: 0.75rem;
        @include tablet {
            height: 2rem;
            width: 15rem;
            // padding: 1rem;
        }
    }
  }