//media query breakpoints
$mobile-breakpoint: 20rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

//colours <-canadian spelling
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$red: #d22d2d;

$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$primary-text-color: $brainflix-black;
$primary-call-to-action: $brainflix-blue;
$secondary-text-color: $silver;
$background-color: $white;

$video-player-components: $brainflix-darkblack;
$event-hover-state: $brainflix-darkblue;

$form-field-outline: $mercury;
$form-field-background: $alabaster;
$form-field-outline-error: $red;

//padding 
$mobile-before-headline: 1.5rem;
$mobile-after-headline: 1rem;
$mobile-between-component: 1rem;

$tablet-before-headline: 2.25rem;
$tablet-after-headline: 1.5rem;
$tablet-between-component: 1.5rem;

$border-divider: 1px solid $form-field-outline;



