@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.videos {
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    flex-direction: column;
    border-top: $border-divider;
    @include desktop {
      width: 73%;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__header {
    @include font-labelsbuttons;
    margin-left: $mobile-between-component;
    @include tablet {
      margin-top: 1.25rem;
    }
  }

  &__video {
    border-radius: 0.25rem;
    width: 6.25rem;
    height: 3.75rem;
    margin-left: $mobile-between-component;
    margin-bottom: 1rem;
  }

  &__title {
    @include font-subheader;
    margin-left: $mobile-between-component;
  }

  &__comment {
    margin-left: $mobile-between-component;
  }

  &__left {
    flex: 0 0 auto;
  }

  &__right {
    flex: 1;
    margin-right: $mobile-between-component;
    margin-bottom: 1rem;
  }
}
