@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comments {
  display: flex;
  flex-direction: column;
  margin: $mobile-between-component;
  @include tablet {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.25rem;
  }
  @include desktop {
    justify-content: space-around;
  }

  &__count {
    @include font-subheader;
  }
  
  &__box {
    display: flex;
    margin-top: 2.25rem;
    @include tablet { 
      
    }
  }

  &__left {
    margin-right: 1.25rem;
    margin-top: 1.4rem;
  }

  &__right {
    display: flex;
    flex-direction: column;
    @include tablet {

    }
  }

  &__input {
    @include form-field;
    @include font-bodycopy;
    border: $border-divider;
    background: $form-field-background;
    width: 71vw;
    padding: .2rem 0rem 3.5rem 0.5rem;
    margin-bottom: $mobile-between-component;
    @include tablet {
      margin-right: 1.5rem;
      width: 28.4375rem;
      padding: .7rem 0rem 0rem 0.5rem;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-default;
    border: none;
    width: 73vw;
    height: 2.25rem;      
    @include tablet {
      position: relative;
      left: 30.8rem;
      bottom: 3.7rem;
    }

    &-icon {
      position: absolute;
      left: 5rem;
      @include tablet {
        left: 0.4rem;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  &__details {
    display: flex;
    flex-direction: column;
    border-top: $border-divider;
    margin: 1rem;
  }

  &__name {
    @include font-subheader;
    margin-left: 4.125rem;
  }

  &__date {
    color: $secondary-text-color;
    display: flex;
    justify-content: flex-end;
  }
  &__comment {
    margin-left: 4.125rem;
  }
}

label {
  @include font-labelsbuttons;
}
